.navbar-brand img {
    width: 50%;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 25px;
}

.logo-size-footer {
    width: 9%;
    margin-right: 4%;
}

.logo-size-fb {
    width: 6%;
    margin-right: 6%;
}